@import "tailwindcss";

/* Hide scrollbar for Webkit (Safari/Chrome) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
body {
    font-family: 'Wix Madefor Text', sans-serif;
  }